.header-container{
    background-image: url("Photo/483599c985602ad89c66ddbd32bab132.jpg");
    background-size: cover;
}

.menu{
    text-align: right;
    padding: 10px;
}

.menu li{
    display: inline;
    background: grey;
}

.menu a{
    text-decoration: none;
    color: white;
}

.header-container p{
    text-align: center;
    font-size: 30px;
}

.main{
    border: solid thin;
}

.row{
    display: inline-block;
    width: 100%;
}

.box {
    display: inline-block;
    width: 47%;
    border: thin solid;
    margin: 1%;
    vertical-align: top;
}

.image {
    display: inline-block;
    vertical-align: middle;
} 

.heading{
    display: inline-block;
    font-weight: bold;
    width: 48%;
}

.content {
    vertical-align: top;
}

.box h3{
    display: inline-block;
    vertical-align: top;
}

.end{
    border: solid thin;
}

.left-text{
    display: inline-block;
    width: 49%;
}

.right-text{
    display: inline-block;
    width: 49%;
    text-align: right;
}

    


