block variables
    - var title = 'Самые высокие деревья'
    //-
        словарь для описания меню: элемент меню и название файла
    -
        var dictMenu = { 
            'Главная': 'index.html', 
            'Дерево': 'building.html',  
            'Таблица с деревьями': "table.html", 
        }

        var dictMenuB = { 
            'Главная': 'index.html', 
            'Кипарис Гималайский': 'building.html',  
            'Таблица с деревьями': "table.html", 
        }



        
    //-
        список файлов с рисунками для раздела сайта images
    - 
        var listImages = ['Ель Ситха.jpg', 'Дерево-для-таблицы-1.jpg', 'Дерево-для-таблицы-2.jpg']
    
    //-
        словарь для карточек (раздел section): заголовок, рисунок, текст
    - 
        var listSections = [
            {
                'header': 'Кипарис Гималайский',
                'image': 'Кипарис Гималайский.jpg', 
                'text': 'Это дерево среднего или очень большого размера, обычно вырастающее до 45 м (150 футов) в высоту, а в юго-западном Китае встречаются ещё более крупные экземпляры. В июне 2023 года была обнаружена особь высотой 102,3 м (336 футов). Это открытие делает Cupressus torulosa вторым по высоте видом деревьев на Земле, уступающим только секвойе вечнозелёной.'
            },
            {
                'header': 'Рябина',
                'image': 'Рябина.jpg', 
                'text': 'Рябина — это удивительное дерево, отличающееся яркими красными гроздьями ягод, которые становятся настоящим украшением осенних пейзажей. Она легко адаптируется к различным условиям и может расти как в лесах, так и в городских парках. Рябина устойчива к холодам и засухам, а её листья приобретают прекрасные оттенки красного и оранжевого цвета в осенний период, создавая неповторимую атмосферу.'
            },
            {
                'header': 'Гигантская Секвойя',
                'image': 'Гигантская секвойя.jpg', 
                'text': 'Гигантская секвойя — одно из самых величественных деревьев на планете, известное своими гигантскими размерами и долговечностью. Эти деревья могут достигать высоты до 100 метров и более, а их стволы имеют диаметр, сравнимый с шириной небольшой улицы. Секвойи растут в защищенных долинах Калифорнии и создают потрясающие леса, где встречаются древнейшие растения Земли. Их устойчивость к пожарам и вредителям делает их уникальными в своем роде.'
            },
            {
                'header': 'Ель Ситха',
                'image': 'Ель Ситха.jpg', 
                'text': 'Ель Ситха — величественное хвойное дерево, отличающееся густой кроной и стойкостью к суровому климату. Она широко распространена в лесах северного полушария'
            },
            {
                'header': 'Жёлтая меранди',
                'image': 'Жёлтая меранди.jpg', 
                'text': 'Жёлтая меранди — редкое тропическое дерево с ценным древесным материалом. Известна своей выносливостью и способностью расти в засушливых районах.'
            },
            {
                'header': 'Камедь Манны',
                'image': 'Камедь манны.jpg', 
                'text': 'Камедь Манны — уникальное дерево, выделяющее сладкий сок, который ценился ещё в древности. Его можно встретить в регионах с жарким климатом.'
            },
            {
                'header': 'Вековой Дуб',
                'image': 'Чёрт обыкновенный.jpg', 
                'text': 'Вековой дуб — символ долголетия и силы, вырастающий до огромных размеров. Эти деревья могут прожить несколько столетий, оставаясь частью лесного пейзажа.'
            },
			
        ]

        var listtable = [{'Название': 'Береговая Секвойя (Sequoia sempervirens)', 'Тип': 'Хвойное', 'Возраст': 2000, 'Континент': 'Северная америка',  'Высота': '116.07', 'Диаметр': 100}, {'Название': 'Гималайский кипарис (Cupressus torulosa)', 'Тип': 'Хвойное', 'Возраст': 500, 'Континент': 'Азия', 'Высота': 102.3, 'Диаметр': 100}, {'Название': 'Горный ясень (Eucalyptus regnans)', 'Тип': 'Цветковое', 'Возраст': 400, 'Континент': 'Австралия', 'Высота': 100.5, 'Диаметр': 100}, {'Название': 'Ситхинская ель (Picea sitchensis)', 'Тип': 'Хвойное', 'Возраст': 500, 'Континент': 'Северная Америка', 'Высота': 100.2, 'Диаметр': 100}, {'Название': 'Дугласова пихта (Pseudotsuga menziesii)', 'Тип': 'Хвойное', 'Возраст': 1000, 'Континент': 'Северная Америка', 'Высота': 99.7, 'Диаметр': 100},  {'Название': 'Желтая меранти (Shorea faguetiana)', 'Тип': 'Цветковое', 'Возраст': 300, 'Континент': 'Азия', 'Высота': 97.58, 'Диаметр': 100}, {'Название': 'Гигантская секвойя (Sequoiadendron giganteum)', 'Тип': 'Хвойное', 'Возраст': 3000, 'Континент': 'Северная Америка', 'Высота': 96.3, 'Диаметр': 100},{'Название': 'Южный синий эвкалипт (Eucalyptus globulus)', 'Тип': 'Цветковое', 'Возраст': 300, 'Континент': 'Австралия', 'Высота': 90.7, 'Диаметр': 100}, {'Название': 'Благородная пихта (Abies procera)', 'Тип': 'Хвойное', 'Возраст': 500, 'Континент': 'Северная Америка', 'Высота': 89.9, 'Диаметр': 100}, {'Название': 'Мануковое дерево (Eucalyptus viminalis)', 'Тип': 'Цветковое', 'Возраст': 400, 'Континент': 'Австралия', 'Высота': 89.0, 'Диаметр': 100}, {'Название': 'Диниция великая (Dinizia excelsa)', 'Тип': 'Цветковое', 'Возраст': 400, 'Континент': 'Южная Америка', 'Высота': 88.5, 'Диаметр': 100}, {'Название': 'Буровато-струнная кора (Eucalyptus obliqua)', 'Тип': 'Цветковое', 'Возраст': 400, 'Континент': 'Австралия', 'Высота': 88.5, 'Диаметр': 100}, {'Название': 'Альпийский ясень (Eucalyptus delegatensis)', 'Тип': 'Цветковое', 'Возраст': 300, 'Континент': 'Австралия', 'Высота': 87.9, 'Диаметр': 100},	{'Название': 'Менгарис (Koompassia excelsa)', 'Тип': 'Цветковое', 'Возраст': 250, 'Континент': 'Юго-Восточная Азия', 'Высота': 85.76, 'Диаметр': 100}, {'Название': 'Шорея серебрянолистная (Shorea robusta)', 'Тип': 'Цветковое', 'Возраст': 300, 'Континент': 'Юго-Восточная Азия', 'Высота': 84.85, 'Диаметр': 100}, {'Название': 'Шорея суперба (Shorea superba)', 'Тип': 'Цветковое', 'Возраст': 200, 'Континент': 'Юго-Восточная Азия', 'Высота': 83.69, 'Диаметр': 100}, {'Название': 'Блестящая смола (Eucalyptus nitens)', 'Тип': 'Цветковое', 'Возраст': 270, 'Континент': 'Юго-Восточная Австралия', 'Высота': 82.1, 'Диаметр': 100}, {'Название': 'Тайвания (Taiwania cryptomerioides)', 'Тип': 'Хвойное', 'Возраст': 500, 'Континент': 'Восточная Азия', 'Высота': 81.3, 'Диаметр': 100}, {'Название': 'Сахарная сосна (Pinus lambertiana)', 'Тип': 'Хвойное', 'Возраст': 1000, 'Континент': 'Северная Америка', 'Высота': 79.12, 'Диаметр': 100}, {'Название': 'Абиес ченсиенсис (Salouenensis)', 'Тип': 'Хвойное', 'Возраст': 700, 'Континент': 'Восточная Азия', 'Высота': 78.56, 'Диаметр': 100},  {'Название': 'Западный болиголов (Tsuga heterophylla)', 'Тип': 'Хвойное', 'Возраст': 100, 'Континент': 'Северная Америка', 'Высота': 76.15, 'Диаметр': 100}, {'Название': 'Надежда нутанс (Hopea nutans)', 'Тип': 'Цветковое', 'Возраст': 400, 'Континент': 'Юго-Восточная Азия', 'Высота': 75.67, 'Диаметр': 100},  {'Название': 'Шорея джохоренская (Shorea johorensis)', 'Тип': 'Цветковое', 'Возраст': 300, 'Континент': 'Юго-Восточная Азия', 'Высота': 75.01, 'Диаметр': 100}, {'Название': 'Шорея смитианская (Shorea smithiana)', 'Тип': 'Цветковое', 'Возраст': 600, 'Континент': 'Юго-Восточная Азия', 'Высота': 74.03, 'Диаметр': 100}, {'Название': 'Сосна пондероза (Pinus ponderosa)', 'Тип': 'Хвойное', 'Возраст': 500, 'Континент': 'Западная часть Северной Америки', 'Высота': 73.01, 'Диаметр': 100}, {'Название': 'Сиднейская голубая камедь (Eucalyptus saligna)', 'Тип': 'Цветковое', 'Возраст': 700, 'Континент': 'Южная Африка', 'Высота': 70.3, 'Диаметр': 100}, {'Название': 'Великая ель (Abies grandis)', 'Тип': 'Хвойное', 'Возраст': 600, 'Континент': 'Западная часть Северной Америки', 'Высота': 70.2, 'Диаметр': 100}, {'Название': 'Жёлтая меранти (Shorea gibbosa)', 'Тип': 'Цветковое', 'Возраст': 500, 'Континент': 'Юго-Восточная Азия', 'Высота': 69.7, 'Диаметр': 100}, {'Название': 'Кипарис Лоусона (Chamaecyparis lawsoniana)', 'Тип': 'Хвойное', 'Возраст': 400, 'Континент': 'Северная Америка', 'Высота': 69.43, 'Диаметр': 100}]

       var listForm = [{ id: 'type', label: 'Тип', checkboxLabel: 'Максимальная высота' },{ id: 'continent', label: 'Континент', checkboxLabel: 'Минимальная высота' },{ id: 'lifespan', label: 'Продолжительность жизни', checkboxLabel: 'Максимальный диаметр' },{ id: null, label: null, checkboxLabel: 'Минимальный диаметр' }]

       var listFilter = [ { label: 'Название:', id: 'name_id', name: 'name' },  { label: 'Тип:', id: 'type_id', name: 'type' }, { label: 'Континент:', id: 'continent_id', name: 'continent' }, { label: 'Высота от:', id: 'height_down', name: 'height_down', range: 'height_up' }, { label: 'Диаметр от:', id: 'diametr_down', name: 'diametr_down', range: 'diametr_up' }, { label: 'Продолжительность жизни от:', id: 'lifespan_down', name: 'lifespan_down', range: 'lifespan_up' }]
 
    -
        var structures = [
        {
            menuItem: "Кипарис Гималайский", 
            image: "Кипарис Гималайский.jpg", 
            text: `Гималайский кипарис (Cupressus torulosa) — одно из самых величественных деревьев, произрастающее в горах Южной и Юго-Восточной Азии. Это вечнозелёное хвойное растение из семейства кипарисовых встречается на высотах от 1500 до 3000 метров над уровнем моря. Наибольшее распространение оно получило в Гималаях, Тибете, Непале, Индии и юго-западной части Китая. Благодаря своему прямому, стройному стволу и густой, пирамидальной кроне, это дерево стало символом природной гармонии и устойчивости. Гималайский кипарис достигает высоты от 45 до 50 метров при благоприятных условиях. Его кора имеет насыщенный тёмно-серый оттенок и часто отслаивается узкими вертикальными полосами, что придаёт дереву дополнительный декоративный вид. Хвоя растения мягкая, густая, с зелёно-голубым оттенком, что делает кипарис особенно привлекательным в ландшафтном дизайне. Шишки небольшие, округлой формы, диаметром всего 2–3 см, но содержат множество семян, способных к быстрому прорастанию. Это дерево знаменито своей выносливостью: оно способно переносить суровые горные условия, недостаток влаги и бедные почвы. Именно благодаря этим качествам гималайский кипарис получил широкое распространение в горных районах Азии. Его корни уходят глубоко в землю, что помогает растению стабильно держаться на крутых склонах и извлекать влагу из самых глубоких слоёв почвы. Гималайский кипарис также славится своим долголетием. Некоторые экземпляры, найденные в труднодоступных регионах Гималаев, имеют возраст более 500 лет. Кроме того, это дерево играет важную роль в экосистеме: его густая крона обеспечивает укрытие для множества птиц и мелких животных, а шишки являются источником пищи для некоторых видов белок и других мелких млекопитающих. Кипарис имеет не только экологическое, но и экономическое значение. Его древесина ценится за прочность и устойчивость к воздействию влаги, поэтому её часто используют в строительстве, особенно в регионах с экстремальными климатическими условиями. Она также широко применяется для изготовления мебели, декоративных элементов и музыкальных инструментов. Помимо этого, дерево нашло своё место в традиционной медицине: экстракты из его хвои и коры используются в лечебных целях. Символизм гималайского кипариса также весьма значителен. Во многих культурах он ассоциируется с долголетием, стойкостью и духовным ростом. В буддизме это дерево часто высаживают вокруг храмов и монастырей, считая его святым растением, символизирующим связь между землёй и небом. Оно также используется в различных ритуалах, связанных с очищением и гармонизацией пространства. Гималайский кипарис играет важную роль не только в природной экосистеме, но и в жизни человека, объединяя в себе природную красоту, практическую пользу и глубокий духовный смысл. Его величественная красота и адаптивность продолжают вдохновлять людей по всему миру.`
        }
        ];