extends template

block header
    +headerMenu(dictMenu, 'Главная')

block card
    +createCards(listImages)

block menu
    +menu(listSections, 4)

block footer
    +createFooter("Вдовенков Никита")



