include companents/mixin.pug
include companents/data.pug
doctype html
html(lang="ru")

    head
        
    body
        block header
           +createHeader()
            
        block card
        
        block menu

        block footer
            +createFooter("Вдовенков Никита")
            
